<h1>Uncover the magic</h1>
<br />
<form novalidate="" role="form" class="login-form">
    <div class="form-group">
        <input type="text" class="form-control" required ng-model="loginInfo.username" placeholder="Username">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" required ng-model="loginInfo.password" placeholder="Password">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-play"></span></button>
</form>